{% extends 'base.html.twig' %}

{% block title %}Edit Studentt{% endblock %}

{% block body %}
    <h1>Edit Studentt</h1>

    {{ include('studentt/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_studentt_index') }}">back to list</a>

    {{ include('studentt/_delete_form.html.twig') }}
{% endblock %}
